bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/CMS.Web/appsettings.Development.json
/CMS.Web/appsettings.Production.json
/.idea/
/.vs/
/CMS.Web/wwwroot/assets/dist/
/CMS.Web/node_modules/
/CMS.Web/package-lock.json
/CMS.Web/wwwroot/Resources