@page
@model ErrorModel
@{
    ViewData["Title"] = _localizer["title"];
}


<h1 class="display-5 fw-bold">@ViewData["Title"]</h1>
<div class="col-lg-6 mx-auto">
    <p class="lead mb-4">@_localizer["error_message"]</p>
    @if (Model.ShowRequestId)
    {
        <p class="lead mb-4"><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
    }
</div>