@{
    // if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    // {
    //     Layout = (string)parentLayout;
    // }
    // else
    // {
    //     // Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    // }
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-3">
        <partial name="Manage/_ManageNav" />
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
