<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CMS.Web - ADMIN</title>
    <link rel="stylesheet" href="~/Resources/Res/Admin/Styles/lib.css"/>
    <link rel="stylesheet" href="~/Resources/Res/Admin/Styles/style.css"/>
</head>
<body>

<main class="">
    <div class="half">
        <div class="half__part half__part--bg" style="">

        </div>
        <div class="half__part">
            <div class="form-signin">
                @RenderBody()
            </div>
        </div>
    </div>
</main>

<script src="~/Resources/Res/Admin/Scripts/src/MainController.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>