@model System.Collections.Generic.IList<CMS.Models.MenuItem.MenuItemListModel>

@foreach (var item in Model)
{
    @if (item.ParentId == Guid.Empty)
    {
        <li class="menu__item">
            <a class="menu__item__a" href="~/@item.Url">@item.Title</a>
            @if (Model.Where(f => f.ParentId == item.Id).Count() > 0)
            {
                <ul>
                    @foreach (var subItem in Model)
                    {
                        if (subItem.ParentId == item.Id)
                        {
                            <li class="menu__item">
                                <a class="menu__item__a" href="~/@subItem.Url">@subItem.Title</a>
                            </li>
                        }
                    }
                </ul>
            }
        </li>
    }
}