@page
@model AccessDeniedModel
@{
    ViewData["Title"] = _localizer["title"];
}


<div class="col-lg-6 mx-auto">
    <h1 class="display-5 fw-bold">@ViewData["Title"]</h1>
    <p class="lead mb-4">@_localizer["access_message"]</p>
</div>