@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = _localizer["title"];
}

<div class="row g-3">
    <h1 class="h3 mb-3 display-6 fw-bold">@ViewData["Title"]</h1>

    <div class="col-12">
        <p>
            @_localizer["check_email"]
        </p>
    </div>
</div>