@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @_localizer["title"];
}


<div class="col-lg-6 mx-auto">
    <h1 class="display-5 fw-bold">@ViewData["Title"]</h1>
    <p class="lead mb-4">@_localizer["reset_password"]</p>
    <p class="lead mb-4"><a asp-page="./Login">@_localizer["log_ing_link"]</a>.</p>
</div>